.jumbotronFooter {
  background-color: #c70039 !important;
  color: white;
  margin-bottom: 0 !important;

  .footerNav {
    color: white !important;
    text-decoration: none !important;

    &:hover {
      color: #cbcbcb !important;
    }
  }

  .formInput {
    border-radius: 20rem !important;
    width: 16rem !important;
    margin-bottom: 15px;
    padding: 1.5rem;
  }

  .buttonSubscribe {
    background-color: white !important;
    color: black !important;
    border-color: #ff001f !important;

    &:hover {
      border-color: white !important;
      color: white !important;
      background-color: rgba(255, 0, 31, 0.85) !important;
      box-shadow: 2px 2px 2px #ffffff;
    }
  }
}
