<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand ml-3" href="#">
    <img src="./../../../assets/logo-navbar.png" alt="logo-image" />
  </a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse text-center" id="navbarSupportedContent">
    <button
      class="btn btn-danger ml-auto mr-5 pr-3 pl-3 font-weight-bold"
      data-toggle="modal"
      data-target="#exampleModalCenter"
    >
      <i class="fa fa-plus mr-3"></i>Create Event
    </button>
    <div class="text-left">
      <app-create-event></app-create-event>
    </div>
  </div>
</nav>
