.main-background {
  background: url(../../../assets/backgroundhome.jpg) no-repeat;
  position: relative;
  background-size: cover;
  background-position: center;
  height: 32rem;

  h3 {
    color: white;
    font-weight: 700;
  }
}
