<div className="jumbotron-fluid main-background">
  <div className="container pt-5 contQuotes">
    <h3 className="text-center mt-5 pt-3 mb-3 quotesLanding quotes1">
      “What you need, is an Event, to remember for a lifetime.”
    </h3>
    <h3 className="text-center quotesLanding quotes2 pb-3">― Rehan Waris ―</h3>
    <div class="">
      <div className="mt-4 mb-3">
        <a href="#" className="btn buttonMore mt-4 mb-4">
          <h5 class="d-flex justify-content-center text-white">
            Browse Events
          </h5>
        </a>
      </div>
    </div>
  </div>
</div>
