<div
  class="modal fade"
  id="exampleModalCenter"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header bg-danger">
        <h5 class="modal-title text-white" id="exampleModalCenterTitle">
          Create Event
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Title" />
            <small class="form-text text-muted">Your Event Title Name</small>
          </div>

          <div class="form-group">
            <input type="time" class="form-control" />
            <small class="form-text text-muted">What time is your event?</small>
          </div>

          <div class="form-group">
            <input type="date" class="form-control" />
            <small class="form-text text-muted">When is your Event held?</small>
          </div>

          <div class="form-group">
            <input type="number" class="form-control" placeholder="Price" />
            <small class="form-text text-muted"
              >How much is your event's cost?</small
            >
          </div>

          <div class="form-group">
            <input
              type="text"
              class="form-control"
              placeholder="Venue Location"
            />
            <small class="form-text text-muted">Your Event Location</small>
          </div>

          <div class="form-group">
            <input type="file" class="form-control" />
            <small class="form-text text-muted">Your Event's Image</small>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
        <!-- <button type="button" class="btn btn-danger">
          Add Event
        </button> -->
        <button type="button" class="btn btn-danger" (click)="onCreatePost()">
          Add Event
        </button>
      </div>
    </div>
  </div>
</div>
