<div
  class="modal fade"
  id="exampleModalCenter"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header bg-danger">
        <h5 class="modal-title text-white" id="exampleModalCenterTitle">
          Create Event
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Title" />
            <small class="form-text text-muted">Your Event Title Name</small>
          </div>

          <div class="form-group">
            <select class="custom-select">
              <option selected>Education</option>
              <option value="1">Music</option>
              <option value="2">Art</option>
              <option value="3">Film</option>
              <option value="4">Food & Drinks</option>
              <option value="5">Festival</option>
              <option value="6">Fashion</option>
              <option value="7">Sport</option>
              <option value="8">Nightlife</option>
              <option value="9">Charity</option>
              <option value="10">Others</option>
            </select>
            <small class="form-text text-muted">Your Event Category</small>
          </div>

          <div class="form-group">
            <input
              type="number"
              class="form-control"
              placeholder="Max People"
            />
            <small class="form-text text-muted"
              >Limit People for your event</small
            >
          </div>

          <div class="form-group">
            <input
              type="text"
              class="form-control"
              placeholder="Organizer Name"
            />
            <small class="form-text text-muted">Organizer Name</small>
          </div>

          <div class="form-group">
            <input
              type="text"
              class="form-control"
              placeholder="Responsible Name"
            />
            <small class="form-text text-muted">Responsible Name</small>
          </div>

          <div class="form-group">
            <textarea
              class="form-control"
              rows="3"
              placeholder="Description"
            ></textarea>
            <small class="form-text text-muted"
              >Description for your event</small
            >
          </div>

          <div class="form-group">
            <input type="text" class="form-control" placeholder="Title" />
            <small class="form-text text-muted">Your Event Title Name</small>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-danger">Add Event</button>
      </div>
    </div>
  </div>
</div>
