<div
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true"
  id="modalOpen"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header bg-warning">
        <h5
          class="modal-title text-white font-weight-bold"
          id="exampleModalCenterTitle"
        >
          Edit Event
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div>
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              placeholder="Title"
              name="title"
              value="{{ form.title }}"
              #title
              id="title"
              (input)="onChange(title.value, 'title')"
            />
            <small class="form-text text-muted">Your Event Title Name</small>
          </div>

          <div class="form-group">
            <input
              type="text"
              class="form-control"
              name="time"
              value="{{ form.time }}"
              #time
              id="time"
              (input)="onChange(time.value, 'time')"
            />
            <small class="form-text text-muted">What time is your event?</small>
          </div>

          <div class="form-group">
            <input
              type="text"
              class="form-control"
              name="date"
              value="{{ form.date }}"
              #date
              id="date"
              (input)="onChange(date.value, 'date')"
            />
            <small class="form-text text-muted">When is your Event held?</small>
          </div>

          <div class="form-group">
            <input
              type="number"
              class="form-control"
              placeholder="Price"
              name="price"
              value="{{ form.price }}"
              #price
              id="price"
              (input)="onChange(price.value, 'price')"
            />
            <small class="form-text text-muted"
              >How much is your event's cost?</small
            >
          </div>

          <div class="form-group">
            <input
              type="text"
              class="form-control"
              name="imageEvent"
              value="{{ form.imageEvent }}"
              #imageEvent
              id="imageEvent"
              (input)="onChange(imageEvent.value, 'imageEvent')"
            />
            <small class="form-text text-muted">Your Event's Image(Url)</small>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
        <button
          type="button"
          class="btn btn-warning"
          (click)="onEditEvent()"
          data-dismiss="modal"
        >
          Edit Event
        </button>
      </div>
    </div>
  </div>
</div>
