<h4 class="text-center mt-5">Admin Page</h4>
<div class="underlineAdmin mb-5 mx-auto"></div>

<div class="container mb-5 pb-3">
  <div class="row">
    <div class="col-md-4">
      <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">Event Title</h5>
          <h4 class="card-text">
            <i class="fa fa-calendar"></i>
          </h4>
          <h4 class="card-text">
            <i class="fa fa-clock-o"></i>
          </h4>
          <h2 class="card-text">
            <i class="fa fa-map-marker mb-3"></i>
          </h2>

          <app-edit class="mr-3 ml-3"></app-edit>
          <app-delete></app-delete>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">Event Title</h5>
          <h4 class="card-text">
            <i class="fa fa-calendar"></i>
          </h4>
          <h4 class="card-text">
            <i class="fa fa-clock-o"></i>
          </h4>
          <h2 class="card-text">
            <i class="fa fa-map-marker mb-3"></i>
          </h2>

          <app-edit class="mr-3 ml-3"></app-edit>
          <app-delete></app-delete>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">Event Title</h5>
          <h4 class="card-text">
            <i class="fa fa-calendar"></i>
          </h4>
          <h4 class="card-text">
            <i class="fa fa-clock-o"></i>
          </h4>
          <h2 class="card-text">
            <i class="fa fa-map-marker mb-3"></i>
          </h2>

          <app-edit class="mr-3 ml-3"></app-edit>
          <app-delete></app-delete>
        </div>
      </div>
    </div>
  </div>
</div>
