<div class="container text-center mb-5">
  <h3 class="text-center mt-5 pt-3">Category</h3>
  <div class="underlineCarousel mb-5 mx-auto"></div>

  <owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide class="text-center">
      <img
        src="../../../assets/category/Education.jpeg"
        alt="Education"
        class="carouselImg"
      />
      <h4 class="categoryBlock">Education</h4>
    </ng-template>

    <ng-template carouselSlide class="text-center">
      <img
        src="../../../assets/category/music.jpg"
        alt="Music"
        class="carouselImg"
      />
      <h4 class="categoryBlock">Music</h4>
    </ng-template>

    <ng-template carouselSlide class="text-center">
      <img
        src="../../../assets/category/art.jpeg"
        alt="Art"
        class="carouselImg"
      />
      <h4 class="categoryBlock">Art</h4>
    </ng-template>

    <ng-template carouselSlide class="text-center">
      <img
        src="../../../assets/category/film.jpeg"
        alt="Film"
        class="carouselImg"
      />
      <h4 class="categoryBlock">Film</h4>
    </ng-template>

    <ng-template carouselSlide class="text-center">
      <img
        src="../../../assets/category/fashion.jpeg"
        alt="Fashion"
        class="carouselImg"
      />
      <h4 class="categoryBlock">Fashion</h4>
    </ng-template>

    <ng-template carouselSlide class="text-center">
      <img
        src="../../../assets/category/sport.jpeg"
        alt="Sport"
        class="carouselImg"
      />
      <h4 class="categoryBlock">Sport</h4>
    </ng-template>

    <ng-template carouselSlide class="text-center">
      <img
        src="../../../assets/category/nightlife.jpeg"
        alt="Nightlife"
        class="carouselImg"
      />
      <h4 class="categoryBlock">Nightlife</h4>
    </ng-template>

    <ng-template carouselSlide class="text-center">
      <img
        src="../../../assets/category/festival.jpeg"
        alt="Festival"
        class="carouselImg"
      />
      <h4 class="categoryBlock">Festival</h4>
    </ng-template>

    <ng-template carouselSlide class="text-center">
      <img
        src="../../../assets/category/charity.jpg"
        alt="Charity"
        class="carouselImg"
      />
      <h4 class="categoryBlock">Charity</h4>
    </ng-template>
  </owl-carousel-o>
</div>
